.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-top: 20vh;
  font-size: 24px;
  font-weight: bold;
}

.search-options {
  width: 30%;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
}

.error {
  width: 50%;
  color: #f00;
  font-size: 20px;
  margin-top: 36px;
}
