.results {
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.result {
  display: flex;
  flex-direction: column;
  padding-right: 12px;
  padding-top: 12px;
}

.result label:first-child {
  margin-top: 8px;
  font-size: 18px;
}

.result label:last-child {
  font-size: 24px;
  font-weight: bold;
  margin-top: 8px;
}
