.select-list {
  color: #dc143c;
  margin: 12px;
  padding: 12px;
  text-align: center;
}

.dropdown-el {
  margin-top: 4vh;
  min-width: 18em;
  position: relative;
  display: inline-block;
  margin-right: 4em;
  min-height: 3em;
  max-height: 4em;
  overflow: hidden;
  top: 0.5em;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: 0.06em solid transparent;
  border-radius: 1em;
  background-color: #e9cced;
  transition: 0.3s all ease-in-out;
}
